In [1]:
import pandas as pd

In [3]:
hotels = pd.read_csv('hotel_booking_data.csv')

In [4]:
hotels

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [5]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

In [7]:
hotels.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [8]:
hotels = hotels.drop('company',axis=1)

In [9]:
hotels

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [13]:
hotels['country'].value_counts()[:10]

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
ITA     3766
IRL     3375
BEL     2342
BRA     2224
NLD     2104
Name: country, dtype: int64

In [14]:
hotels.groupby('country').count()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
country,,,,,,,,,,,,,,,,,,,,,
ABW,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
AGO,362,362,362,362,362,362,362,362,362,362,...,362,362,362,362,362,362,362,362,362,362
AIA,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ALB,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
AND,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VGB,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
VNM,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
ZAF,80,80,80,80,80,80,80,80,80,80,...,80,80,80,80,80,80,80,80,80,80
ZMB,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ZWE,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4

In [16]:
hotels.groupby('country').count().sort_values('hotel',ascending=False)['hotel']

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
MLI        1
MMR        1
MRT        1
SMR        1
PYF        1
Name: hotel, Length: 177, dtype: int64

In [19]:
hotels.sort_values('adr',ascending=False)[['adr','name']].iloc[0]

adr            5400.0
name    Daniel Walter
Name: 48515, dtype: object

In [20]:
hotels['adr'].idxmax()

48515

In [21]:
hotels.iloc[hotels['adr'].idxmax()]

hotel                                             City Hotel
is_canceled                                                1
lead_time                                                 35
arrival_date_year                                       2016
arrival_date_month                                     March
arrival_date_week_number                                  13
arrival_date_day_of_month                                 25
stays_in_weekend_nights                                    0
stays_in_week_nights                                       1
adults                                                     2
children                                                 0.0
babies                                                     0
meal                                                      BB
country                                                  PRT
market_segment                                 Offline TA/TO
distribution_channel                                   TA/TO
is_repeated_guest                                          0
previous_cancellations                                     0
previous_bookings_not_canceled                             0
reserved_room_type                                         A
assigned_room_type                                         A
booking_changes                                            1
deposit_type                                      Non Refund
agent                                                   12.0
days_in_waiting_list                                       0
customer_type                                      Transient
adr                                                   5400.0
required_car_parking_spaces                                0
total_of_special_requests                                  0
reservation_status                                  Canceled
reservation_status_date                           2016-02-19
name                                           Daniel Walter
email                             DanielWalter27@comcast.net
phone-number                                    865-280-5832
credit_card                                 ************6075
Name: 48515, dtype: object

In [22]:
hotels['adr'].mean()

101.83112153446686

In [23]:
hotels['total_stay_nights'] = hotels['stays_in_week_nights'] + hotels['stays_in_weekend_nights']

In [25]:
round(hotels['total_stay_nights'].mean())

3

In [26]:
hotels['total_spend'] = hotels['adr']*hotels['total_stay_nights']

In [27]:
hotels['total_spend'].mean()

357.84820780634897

In [28]:
hotels[hotels['total_of_special_requests'] == 5][['name','email']]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

In [29]:
hotels['is_repeated_guest'].unique()

array([0, 1], dtype=int64)

In [30]:
sum(hotels['is_repeated_guest']==1)

3810

In [31]:
100 * sum(hotels['is_repeated_guest']==1) / len(hotels)

3.191222045397437

In [35]:
hotels['name'].apply(lambda name : name.split()[-1]).value_counts()

Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
            ...
Riggs         23
Weeks         23
IV            22
Bolton        22
V             10
Name: name, Length: 1009, dtype: int64

In [36]:
hotels['total_kids'] = hotels['babies'] + hotels['children']

In [38]:
hotels.sort_values('total_kids', ascending=False)[['name','total_kids']]

                     name  total_kids
328         Jamie Ramirez        10.0
46619     Nicholas Parker        10.0
78656       Marc Robinson         9.0
19718   Mr. Jeffrey Cross         3.0
107837      Albert French         3.0
...                   ...         ...
119389     Ariana Michael         0.0
40600        Craig Campos         NaN
40667        David Murphy         NaN
40679        Frank Burton         NaN
41160       Jerry Roberts         NaN

[119390 rows x 2 columns]

In [39]:
hotels['phone-number'].apply(lambda num: num[:3]).value_counts()

799    168
185    167
541    166
739    163
763    163
      ...
896    106
973    105
577    105
818    102
970     97
Name: phone-number, Length: 900, dtype: int64

In [40]:
hotels['arrival_date_day_of_month'].apply(lambda day: day in range(1,16)).sum()

58152

In [41]:
import numpy as np

In [42]:
def convert(day,month,year):
    return f"{day}--{month}--{year}"

In [43]:
hotels['date'] = np.vectorize(convert)(hotels['arrival_date_day_of_month'],
                                      hotels['arrival_date_month'],
                                      hotels['arrival_date_year'])

In [51]:
hotels['date']

0            1--July--2015
1            1--July--2015
2            1--July--2015
3            1--July--2015
4            1--July--2015
                ...
119385    30--August--2017
119386    31--August--2017
119387    31--August--2017
119388    31--August--2017
119389    29--August--2017
Name: date, Length: 119390, dtype: object